--index https://mirrors.aliyun.com/pypi/simple
--trusted-host mirrors.aliyun.com

robotframework
robotframework-seleniumlibrary
robotremoteserver
robotframework-requests
robotframework-sshlibrary
allure-robotframework
allure-pytest
pymssql
mysqlclient
requests
urllib3
six
kubernetes
jsonpath-ng
jinja2
pytz
locust