--index https://mirrors.aliyun.com/pypi/simple
--trusted-host mirrors.aliyun.com

robotframework
robotframework-seleniumlibrary
robotremoteserver
robotframework-requests
robotframework-sshlibrary
allure-robotframework
allure-pytest
sqlalchemy
sqlalchemy-utils
mysqlclient
# https://docs.microsoft.com/en-us/sql/connect/python/pyodbc/python-sql-driver-pyodbc?view=sql-server-ver15
pyodbc
jsonpath-ng
jinja2
pytz
locust
celery
redis